<!DOCTYPE html>
<html lang="en" ng-app="TaskApp">
<head>
    <meta charset="UTF-8">
    <title>Futurism's To Do List</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src = "/bower_components/jquery/dist/jquery.js"></script>
    <script src = "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src = "/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="app/taskctrl.js"></script>                      <!--SC: modify if controllers are split-->   
    <script src="app/services/services.js"></script>

</head>
<body ng-controller="TaskCtrl as taskCtrl">
    
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Futurism's To Do List</a>
        
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click="taskCtrl.filter='Pending'">All Tasks</a></li>
        <!--Dynamic Category Links-->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-repeat="y in taskCtrl.categoryLabel"
                            ng-click="taskCtrl.filter=y">{{ y }}</a></li>
        <!--Completed Task Link-->
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="taskCtrl.filter='Done'">Completed Tasks</a></li>
            </ul>
            </li>
        </ul>
        <!--Search/Filter Tasks-->
        <form class="navbar-form navbar-right">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Tasks" ng-model="taskCtrl.filter">
            </div>
        </form> <!--search task-->
        <!--Add new category-->
            <form name="catForm" ng-model="taskCtrl.categoryLabel" class="navbar-form navbar-right" novalidate>
                <div class="input-group">
                    <input name="catForm" type="text" placeholder="Add New Category" class="form-control" 
                            ng-model="taskCtrl.newCategory" required>
                    <span class= "input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="taskCtrl.addCategory()" 
                                ng-disabled="catForm.$invalid">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>       

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

  <!--MAIN PANEL-->
      <div id="obj-wrapper" class="container-fluid">
           
                <!--Add New Task-->
                <form name ="taskForm" class="form-inline form-label" ng-model="taskCtrl.array" novalidate>
                        
                        Task : <input type="text" class="form-control" name="task" id="name" placeholder="What would you like to do?" required 
                                ng-model="taskCtrl.task_description"></input>
                        Due Date : <input type="date" class="form-control" name="duedate" id="duedate" ng-model="taskCtrl.due_date" required></input>

                    <div class="form-group">
                        <label>Category :</label>
                        <div class="input-group">
                        <select class="form-control" required ng-model="taskCtrl.category">
                            <option ng-repeat="x in taskCtrl.categoryLabel" name="category" id="category" value="{{x}}">{{x}}</option>
                        </select>
                    
                        <span class=input-group-btn>
                        <button type = "button" class="btn btn-default" ng-disabled="taskForm.$invalid" ng-click="taskCtrl.add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        </span> <!--for input group btn-->
                        </div> <!--for input group-->
                    </div><!--for form group-->
                </form><!--for taskForm-->
                
                <!--List of Tasks-->
                <br/>
                
                <table class="table table-striped">
                    <thead id="thead">
                        <tr>
                            <td>Tasks</td>
                            <td>Due Date</td>
                            <td>Category</td>      
                            <td class="visible-lg">Status</td>           
                            <td></td>                           
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="i in taskCtrl.array | filter: {$: taskCtrl.filter} track by $index" 
                            ng-class="{danger:entry.active}">
                            <td>                  
                               <span ng-hide="editMode">{{i.task_description}}</span> <!--modified by Beng Teck-->
                           
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.task_description" size="30"/>
                            </td>
                            <td>
                               <span ng-hide="editMode" size="10">{{i.due_date| date: "yyyy-MM-dd"}}</span> <!--modified by Beng Teck-->
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.due_date" size="5"/>
                            </td>
                            <td>
                               <span ng-hide="editMode">{{i.category}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.category" size="17"/>
                            </td>
                         
                            <td class="visible-lg">
                               <span ng-hide="editMode">{{i.status}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.status" size="4"/>
                            </td>
                                             


                            <td align="right">
                                <button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"
                                ng-click="taskCtrl.check($index)"></i>
                                </button>
                              
                                <button type="submit" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"
                                ng-click="taskCtrl.delete($index)"></i>
                                </button>            

                                 <button type="submit" ng-hide="editMode" ng-click="editMode = true; taskCtrl.editArray($index)" class="btn btn-default"><i class="fa fa-pencil"></i>
                                 </button>  

                                <button type="submit" data-ng-show="editMode" ng-click="editMode = false; taskCtrl.save($index)" class="btn btn-default">
                                   <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" data-ng-show="editMode" ng-click="editMode = false; taskCtrl.cancel($index)" class="btn btn-default">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                            </td>            
                        </tr>  


            
                    </tbody>
                </table>
                        

            </div>   

    </div>
</body>
</html>